/* Body CSS */
body {
    background-color: #f9bd65;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    overflow-x: hidden;
}

#red {
    color: #ce2127;
    font-style: italic;
}

a:hover {
    color: #ce2127;
    text-decoration: none;
}
h5 {
    color: #ce2127;
}
h1 {
    color: #ce2127;
}

/* Collapse Nav CSS */
.navbar-nav {
    align-items: center;
}

.navbar-collapse {
    background-color: #f9bd65;
}

/* Nav Expanded CSS */
.navbar-brand {
    font-family: 'Trochut', cursive;
    padding-top: 0px;
    height: 50px;
}

#icon {
    height: 4rem;
}

#brand {
    color: #ce2127;
    font-weight: bold;
}

/* Scroll JS CSS*/
.navbar.scrolled {
    background: #f9bd65;
    transition: background 500ms;
}
#jumbo {
    color: white;
   margin-bottom: 0;
   margin-top: 0;
   margin-right: 2rem;
   margin-left: 2rem;
    background-color: #f9bd65;
    
    
}

/* Jumbo CSS */
#inside {
    width: 100%;
}


#map{
    border: 1.5px solid #ce2127;
    margin-bottom: 1rem;
}

#address{
    border: 1px solid #ce2127;
    padding-top: 1rem;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding-top: 0;
    color: rgb(247, 247, 247);
}

#chili {
    width: 50%;
    margin-top: 3rem;
   margin-left: 25%;
   margin-right: 25%;
   padding-top: 3rem;
}

#menu{
    margin-top: 1rem;
}

#contactbtn {
    color: white;
}

#menubtn {
    color: white;
}

/* Footer CSS */
footer {
    background-color: #845d3c;
}

.foot {
    color: #f9bd65;
    font-weight: lighter;
}

@media only screen and (min-width: 768px) {
    #address {
        border: 1px solid #ce2127;
        padding-top: 1rem;
        float: right;
        border: none;
        margin-right: 5%;
        margin-bottom: 0.5rem;
        margin-top: 3rem;
        color: rgb(247, 247, 247);
    }

    #store {
        width: 100%;
    }

    #chili {
        width: 25%;
        margin-top: 2rem;
       margin-left: 37%;
       margin-right: 37%;
    }

    #map {
        margin-bottom: 1rem;
        margin-top: 2rem;
        margin-right: 10%;
        margin-left: 10%;
        width: 20rem;
        height: 20rem;
    }
}

@media only screen and (min-width: 900px){
    #map {
        margin-bottom: 1rem;
        margin-top: 2rem;
        margin-right: 10%;
        margin-left: 5%;
        width: 20rem;
        height: 20rem;
    }

    #address {
        border: 1px solid #ce2127;
        padding-top: 1rem;
        float: right;
        border: none;
        margin-right: 8%;
        margin-bottom: 0.5rem;
        margin-top: 3rem;
        color: rgb(247, 247, 247);  
    }
}

@media only screen and (min-width: 1000px){
    #map {
        margin-bottom: 1rem;
        margin-top: 2rem;
        margin-right: 10%;
        margin-left: 5%;
        width: 20rem;
        height: 20rem;
    }

    #address {
        border: 1px solid #ce2127;
        padding-top: 1rem;
        float: right;
        border: none;
        margin-right: 10%;
        margin-bottom: 0.5rem;
        margin-top: 3rem;
        color: rgb(247, 247, 247); 
    }
}

@media only screen and (min-width: 1200px){
    #map {
        margin-bottom: 1rem;
        margin-top: 1rem;
        margin-right: 15%;
        margin-left: 0;
        width: 25rem;
        height: 22rem;
    }
   
    #address {
        border: 1px solid #ce2127;
        padding-top: 1rem;
        float: right;
        padding: 20px;
        margin-left: 0;
        margin-right: 10%;
        margin-bottom: 0.5rem;
        margin-top: 3.5rem;
        color: rgb(247, 247, 247); 
    }
}
