/* Body CSS */
body {
    background-color: #f9bd65;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    overflow-x: hidden;
}

#red {
    color: #ce2127;
    font-style: italic;
}

a:hover {
    color: #ce2127;
    text-decoration: none;
}

/* Collapse Nav CSS */
.navbar-nav {
    align-items: center;
}

.navbar-collapse {
    background-color: #f9bd65;
}

/* Nav Expanded CSS */
.navbar-brand {
    font-family: 'Trochut', cursive;
    padding-top: 0px;
    height: 50px;
}

#icon {
    height: 4rem;
}

#brand {
    color: #ce2127;
    font-weight: bold;
}

/* Scroll JS CSS*/
.navbar.scrolled {
    background: #f9bd65;
    transition: background 500ms;
}

/* Carousel CSS */
.carousel {
    border: 2px solid #ce2127;
    border-radius: 4px;
}

/* Menu Button CSS */
#callnow {
    margin-bottom: 0.5rem;
}

#contactbtn {
    color: #ce2127;
}

/* Hours Card CSS */
#hours {
    margin-bottom: 0.5rem;
}

#hour {
    background-color: transparent;
    border: 2px solid #ce2127;
}

/* Rev Card */
#star {
    width: 90%;
}

#revcard {
    height: 98%;
}

/* Card CSS */
.card {
    background-color: #845d3c;
    padding: 5px;
    text-align: center;
    border: 2px solid #ce2127;
}

.card-title {
    color: #ce2127;
}

.card-text {
    color: #f9bd65;
}

/* Heading CSS */
h2 {
    color: #ce2127;
}

h4 {
    color: #ce2127;
}

/* Footer CSS */
footer {
    background-color: #845d3c;
}

.foot {
    color: #f9bd65;
    font-weight: lighter;
}

@media only screen and (min-width: 0) and (max-width: 575px) {
    #content {
        margin-top: 4.5rem;
        margin-bottom: 0.5rem;
    }

    #gal {
        width: 60%;
        margin-top: 0;
    }

    #galh5 {
        margin-bottom: 0;
    }

    #aboutimg {
        width: 75%;
    }
}

@media only screen and (min-width:576px) and (max-width: 767px) {

    #content {
        margin-top: 3.5rem;
        margin-bottom: 0.5rem;
    }

    #star {
        width: 60%;
    }

    #gal {
        width: 43.5%;
    }

    #aboutimg {
        width: 50%;
    }

}

@media only screen and (min-width:768px) {
    #content {
        margin-top: 4rem;
        margin-bottom: 0.5rem;
    }

    #review {
        margin-bottom: 0.5px;
    }

    #gal {
        width: 30%;
    }

    #aboutimg {
        width: 50%;
    }

    #learn {
        margin-top: 1.5px;
    }
}

@media only screen and (min-width:992px) and (1200px) {
    #aboutimg {
        width: 50%;
    }
    h1 { 
        display: none;
    }
    #gal {
        width: 40%;
    }
}

@media only screen and (min-width:768px) and (max-width: 991px) {
    #aboutimg {
        width: 50%;
    }

    #gal {
        width: 47.5%;
    }

    #star {
        width: 55%;
    }
}
