/* Body CSS */
body {
    background-color: #f9bd65;
    background-image: url(img/yellow.jpg);
    background-position: 50% 0;
    background-size: 35%;
    background-repeat: no-repeat;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    overflow-x: hidden;
}

#content {
    margin-top: 15.5rem;
}

#red {
    color: #ce2127;
    font-style: italic;
}

a:hover {
    color: #ce2127;
    text-decoration: none;
}

/* Collapse Nav CSS */
.navbar-nav {
    align-items: center;
}

/* Nav Expanded CSS */
.navbar-brand {
    font-family: 'Trochut', cursive;
    padding-top: 0px;
    height: 50px;
}

#icon {
    height: 4rem;
}

#brand {
    color: #ce2127;
    font-weight: bold;
}

/* Scroll JS CSS*/
.navbar.scrolled {
    background: #f9bd65;
    transition: background 500ms;
}

/* Pills CSS */
.nav-pills {
    background-color: #845d3c;
    border-radius: 5px;
    z-index: 2;
}

#pills a {
    color: wheat;
}

#pills a:hover {
    color: #ce2127;
}

/* Card CSS */
.card-text {
    font-size: 0.65rem;
    color: wheat;
    text-align: center;
}

.card {
    background-color: #845d3c;
    flex: 0 1 24%;
    padding: 0;
    margin-bottom: 10px;
}

.card-title {
    color: #ce2127;
    font-weight: 700;
    text-align: center;
    font-style: italic;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-fluid {
    width: 18rem;
    height: 12.5rem;
    align-self: center;
}
#contactbtn {
    color: white;
}

/* Footer CSS */
footer {
    background-color: #845d3c;
}

.foot {
    color: #f9bd65;
    font-weight: lighter;
}

/* Hot Image CSS*/
#hot {
    position: absolute;
    top: 86%;
    left: 79%;
    max-width: 20%;
    max-height: 20%;
}

/* CallButton */
#callnow {
    display: none;
}

/* Sunglasses img */
#cool {
    display: none;
}

/* Responsive CSS */
@media only screen and (max-width: 1220px) {
    #original {
        display: none;
    }

    #content {
        margin-top: 13rem;
    }

    #spicy {
        padding-left: 59%;
        top: 91%;
        position: absolute;
    }

    #callnow {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    #original {
        display: none;
    }

    #content {
        margin-top: 1rem;
    }

    #pills {
        right: 55px;
    }

    .card {
        background-color: #845d3c;
        flex: 0 1 32%;
        padding: 10px;
    }

    body {
        background-image: none;
    }

    #cool {
        display: block;
        width: 7.5rem;
        height: 7rem;
        left: 25rem;
        top: 2.5rem;
        position: relative;
        z-index: 1;
    }
}

@media only screen and (max-width: 991px) {
    #cool {
        left: 18rem;
    }
}

@media only screen and (max-width: 776px) {

    .card {
        background-color: #845d3c;
        flex: 0 1 49%;
        padding: 10px;
    }

    #hot {
        top: 86%;
        left: 80%;
        max-width: 15%;
        max-height: 15%;
    }
}

@media only screen and (max-width: 767px) {
    #cool {
        left: 12rem;
    }

    .navbar-collapse {
        background-color: #f9bd65;
    }

    #hot {
        max-width: 18;
        max-height: 18%;
    }
}

@media only screen and (max-width: 625px) {

    .card {
        background-color: #845d3c;
        flex: 0 1 99%;
        padding: 10px;
        margin: 5% 15%;
    }

    #hot {
        position: absolute;
        left: 86%;
        max-width: 13%;
        max-height: 13%;
    }

    #callnow {
        display: inline-block;
        margin: auto;
    }

    #contactbtn {
        color: #ce2127;
    }
}

@media only screen and (max-width: 525px) {
    #cool {
        left: 11.5rem;
    }
}

@media only screen and (max-width: 500px) {
    #cool {
        width: 6rem;
        height: 6rem;
        left: 11.5rem;
        top: 2.3rem;
    }

    .card {
        background-color: #845d3c;
        flex: 0 1 99%;
        padding: 10px;
    }
}

@media only screen and (max-width: 475px) {
    #content {
        margin-top: 3.5rem;
    }

    #cool {
        display: none;
    }

    .nav-pills {
        margin-top: 10px;
    }
}
