body {
    background-color: #f9bd65;
     background-image: url(yellow.jpg); 
    background-position: 50% 50%;
    background-size: 70%;
    background-repeat: no-repeat;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    overflow-x: hidden;
}

#red {
    color: #ce2127;
}
a:hover {
   color: #ce2127;
  text-decoration: none;
}
#brand {
    color: #ce2127;
    font-weight: bold;
  
}
.navbar-nav{
    align-items: center;
    
}
.navbar-brand{
    font-family: 'Trochut', cursive;
    padding-top: 0px;
    height: 50px;
 
}
#icon {
    height: 4rem;
}
#original {
    border-radius: 300px;
    height: 175px;
    max-width: 175px;
}
.nav-pills {
    background-color: #845d3c;
    border-radius: 5px;
}
.card-text {
    font-size: 0.75rem;
    color: white;
}
.card{
    background-color: #845d3c;
    flex: 0 1 24%;
    padding: 10px;
    max-width: 100%;
   
}
.card-title {
    color: #ce2127;
    font-weight: 700;
}

.navbar.scrolled {
    background: #f9bd65;
    transition: background 500ms;
}

#pills a {
    color: white;
}
#pills a:hover {
    color: #ce2127;
}
#menuhead {
    color: white;
    left: 45.5%;
    bottom: 70%;
    position: absolute;
    
}
#hot {
    position: absolute;
    top: 86%;
    left: 79%;
    max-width: 20%;
    max-height: 20%;
}
mark {
    background-color: yellow;
    color: #ce2127; 
    border: 1px solid red;
    
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media only screen and (max-width: 1220px) {
    #original {
        display: none;
    }
    #content {
        /* position: absolute; */
        margin-top: 20%;
        
    }
    .card {
        max-width: 50%;
    }
    #spicy {
        padding-left: 59%;
        top: 91%;
        position: absolute;
          
    }


}
@media only screen and (max-width: 992px) {
    #original {
        display: none;
    }
    #pills {
       
        right: 55px;
    }
        
       
    .card {
            background-color: #845d3c;
            flex: 0 1 32%;
            padding: 10px;
            max-width: 100%;
            margin-bottom: 10px;
                  
        }

    #menuhead{
        display: none;
    }
    body {
        background-position: 50% 4.8%;
        background-image: url(cool.png);
        
        background-size: 25%; 
    }

    @media only screen and (max-width: 991px) {
    
        body {
            background-position: 50% 4%;
            background-image: url(cool.png);
            background-size: 20%; 
        }
                  
        }
    @media only screen and (max-width: 866px) {
    
        body {
            background-position: 50% 5%;
            background-image: url(cool.png);
            background-size: 20%; 
        }
                  
        }

}
@media only screen and (max-width: 776px) {
    .card {
        background-color: #845d3c;
        flex: 0 1 49%;
        padding: 10px;
        /* max-width: 100%; */
        margin-bottom: 10px;
    }
    body {
        background-position: 50% 6%;
        background-image: url(cool.png);
        
        background-size: 20%; 
    }
    #hot {
        position: absolute;
        top: 86%;
        left: 80%;
        max-width: 15%;
        max-height: 15%;
    }
              
    }
@media only screen and (max-width: 767px) {
    
    body {
        background-position: 50% 2.8%;
        background-image: url(cool.png);
        
        background-size: 20%; 
    }
    .navbar-collapse{
        background-color: #f9bd65;
        
       
    }
    #hot {
        position: absolute;
        top: 86%;
        left: 80%;
        max-width: 18;
        max-height: 18%;
    }
              
    }

@media only screen and (max-width: 625px) {
    .card {
        background-color: #845d3c;
        flex: 0 1 99%;
        padding: 10px;
       
        
        margin-bottom: 10px;
        margin: 5% 15%;
    }
    body {
        background-position: 50% 1.5%;
        background-image: url(cool.png);
        
        background-size: 23%; 
    }
              
    #hot {
        position: absolute;
        top: 86%;
        left: 86%;
        max-width: 13%;
        max-height: 13%;
    }
   
}
@media only screen and (min-width:500px) and (max-width: 550px) {
    body {
        background-position: 50% 1.8%;
        background-image: url(cool.png);
        
        background-size: 23%; 
    }
}
@media only screen and (max-width: 499px){
    body {
        background-position: 50% 3%;
        background-image: url(cool.png);
        
        background-size: 30%; 
        margin-top: 15%;
    }
    .card {
        background-color: #845d3c;
        flex: 0 1 99%;
        padding: 10px;
       
        max-width: 100%;
        margin-bottom: 10px;
        margin: 5% 10%;
    }
     
}
